/* Estilos generales*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  touch-action: manipulation;
}

body,
html {
  height: 100%;
}

body {
  background-color: #fef9f2;
  line-height: unset;
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

.main-section {
  position: relative;
  z-index: 1;
  background: #31476e;
}

.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.image-container img {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 920px) {

  .image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    padding: 90% 50% 20% 0%;
  }
  .image-container img {
    height: auto;
    top: 9%;
  }
  .venta-simple-contenedor div {
    width: 90%;
    height: 100%;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 820px) {
  .image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    padding: 120% 0% 40% 0%;
  }
  .image-container img {
    height: auto;
    top: 14%;
  }
}

h1 {
  color: #ff9505;
  font-weight: bold;
  font-size: 55px;
}

.titulos-naranja,
.titulos-blanco {
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 45px;
  scroll-margin-top: 105px;
  font-weight: bold;
}
@media screen and (max-width: 920px) {
  .titulos-naranja,
  .titulos-blanco {
    font-size: 30px;
  }
}

.titulos-naranja {
  color: #ff9506;
}

.titulos-blanco {
  color: #fef9f2;
}

@media screen and (max-width: 920px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 32px;
  }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 63px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  transition: all 0.5s ease;
}

nav.active {
  background: #081849;
  opacity: 1;
  z-index: 100;
  padding: 30px 50px;
}

.logo {
  width: auto;
  height: 45px;
}

.navegacion a {
  text-decoration: none;
  color: #fef9f2;
  padding: 2px 0px;
  border-radius: 20px;
  font-size: 20px;
  margin: 0 25px;
  font-weight: 600;
  position: relative;
}

.navegacion a:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #ff9506;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

.navegacion a.active {
  /* Aquí agrega el estilo del subrayado con el color de la animación */
  position: relative;
}

.navegacion a.active:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0; /* Ajusta esta distancia para colocar el subrayado donde desees */
  left: 0;
  height: 2px;
  width: 100%;
  background: #ff9505;
  transform-origin: center;
  transform: scaleX(1);
  transition: transform 0.2s ease-in-out;
}

.navegacion a:hover:after {
  transform: scaleX(1);
}

ul {
  margin-bottom: 0px;
}

.toggle {
  color: #fef9f2;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.dropdown {
  display: none;
  position: absolute;
  right: 0rem;
  top: 81px;
  height: 0;
  width: 100%;
  background: rgba(8, 24, 73, 0.6);
  backdrop-filter: blur(20px);
  border-radius: 0px 0px 10px 10px;
  overflow: hidden;
  transition: height 0.3s cubic-bezier(0, 0.25, 0.38, 1);
}

.dropdown li {
  padding: 0.7rem;
  display: grid;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.dropdown li a {
  text-decoration: none;
  color: #fba735;
  padding: 6px 15px;
  border-radius: 20px;
  margin: 0 10px;
  font-weight: 600;
}

.dropdown.open {
  height: 270px;
  width: 100%;
}
.dropdown.closed {
  height: 0px;
}

.intro {
  display: flex;
}

.introduccion {
  margin-left: 50vw;
  margin-top: 50vh;
  display: flex;
  flex-direction: column;
  font-size: 60px;
}

.textos {
  display: flex;
  color: rgb(255, 255, 255);
  max-width: 700px;
  font-family: "Montserrat", sans-serif;
  font-size: 23px;
}
@media screen and (max-width: 920px) {
  .textos {
    font-size: 18px;
  }
}
.textos::first-letter {
  font-size: 30px;
  font-style: italic;
}

.contenedor {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.venta-simple {
  background-color: #fef9f2;
  width: 100%;
}

.venta-simple h2 {
  background-color: #ff9505;
}

.venta-simple h4 {
  font-weight: bold;
  margin-top: 30px;
  color: #4d648d;
}

.venta-simple-objetos {
  display: flex;
  margin-bottom: 30px;
  flex-direction: column;
}

.venta-simple-centro {
  transform: translateX(50%);
  width: 50%;
  height: 50%;
  margin-top: 3rem;
}

.venta-simple-contenedor {
  display: flex;
  flex-direction: column;
}

.venta-simple-par {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.venta-simple-elemento {
  border: 6px solid #4d648d;
  margin: 10px;
  align-items: center;
  width: 25%;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  background-color: none;
  box-shadow: 0px 0px 7px 0px rgba(255, 255, 255, 0.75);
}

.venta-simple-objetos > div:not(.venta-simple-contenedor) {
  border: none; /* o simplemente eliminar la propiedad 'border' */
}

.venta-simple-elemento:hover {
  background-color: #31476e;
}

.venta-simple-elemento:hover .textos-venta {
  color: #fef9f2;
}

.venta-simple-elemento:hover h4 {
  color: #fef9f2;
}

@media screen and (max-width: 920px) {
  .venta-simple-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .venta-simple-contenedor div {
    width: 90%;
    flex-direction: column;
    align-items: center;
  }
  .venta-simple-objetos {
    flex-direction: column;
    padding-bottom: 25px;
  }
  .venta-simple {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}

.textos-venta {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 16px;
  font-size: 21px;
  width: 80%;
  color: #31476e;
}

@media (max-width: 1470px) {
  .textos-venta {
    font-size: 18px; /* Ajusta el tamaño de fuente para pantallas más pequeñas */
    width: 100%;
  }
}

.funcionalidades {
  width: 100%;
  background-color: #081849;
}

.funcionalidades h2 {
  margin-top: 35px;
}

.slider-objetos {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 86vh; /* Asegurarse de que ocupe todo el espacio disponible */
  margin-top: -66px;
}

input[type="radio"] {
  display: none;
}

.contenedor-slider {
  width: 100%;
  height: 60vh;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
}

.item {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  visibility: hidden; /* Ocultar todos los elementos inicialmente */
  padding: 2px;
  border-radius: 25px;
}

.item-respon {
  display: none;
}

@media screen and (max-width: 920px) {
  .item {
    display: none;
  }
  .item-respon {
    display: block;
    position: absolute;
    width: 80%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    visibility: hidden; /* Ocultar todos los elementos inicialmente */
    padding: 2px;
    border-radius: 25px;
  }
  .slider-objetos {
    overflow: hidden;
  }
}

.funcionalidades img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

#item-2:checked ~ .carousel #selector-1,
#item-1:checked ~ .carousel #selector-5,
#item-3:checked ~ .carousel #selector-2,
#item-4:checked ~ .carousel #selector-3,
#item-5:checked ~ .carousel #selector-4 {
  transform: translateX(-40%) scale(0.8);
  opacity: 0.6;
  z-index: 0;
  visibility: visible;
}

#item-2:checked ~ .carousel #selector-3,
#item-1:checked ~ .carousel #selector-2,
#item-3:checked ~ .carousel #selector-4,
#item-4:checked ~ .carousel #selector-5,
#item-5:checked ~ .carousel #selector-1 {
  transform: translateX(40%) scale(0.8);
  opacity: 0.6;
  z-index: 0;
  visibility: visible;
}

#item-1:checked ~ .carousel #selector-1,
#item-2:checked ~ .carousel #selector-2,
#item-3:checked ~ .carousel #selector-3,
#item-4:checked ~ .carousel #selector-4,
#item-5:checked ~ .carousel #selector-5 {
  transform: translateX(0) scale(1);
  z-index: 1;
  visibility: visible;
}

.flecha {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 35px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  border: none;
  background: none;
  color: #ff9505;
  font-size: 30px;
}

.izquierda {
  left: 10px;
}

.derecha {
  right: 10px;
}

.planes {
  width: 100%;
  z-index: 0;
  background-color: #fef9f2;
  padding-bottom: 150px;
  font-family: "Montserrat";
}

.planes h2 {
  background-color: #081849;
}

.planes-objetos {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.planes img {
  width: 100%;
  height: 100%;
}

.plan,
.plan-activo {
  padding: 10px;
  border-radius: 10px;
  border: 3px solid #081849; /* Agregamos el borde a cada imagen */
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 7px #000;
  position: relative;
}

.plan {
  background-color: #fef9f2;
  position: relative; /* Asegura que el botón esté posicionado dentro del contenedor */
  z-index: 0;
  color: #081849;
}

.plan-activo {
  color: #fef9f2;
  background: #081849;
  transform: scale(1.2);
  z-index: 1;
}

.planes-objetos p {
  font-size: 16px;
  padding: 0 40px;
  text-align: center;
}

.planes-objetos h4 {
  text-align: center;
  color: #ff9505;
}

.planes-objetos h5 {
  font-size: 35px;
  padding: 1rem;
}

.precio-grande {
  font-size: 30px; /* Ajusta el tamaño de fuente según tu preferencia */
}

/* Estilos para "/mes" más pequeño */
.mes-pequeno {
  font-size: 14px; /* Ajusta el tamaño de fuente según tu preferencia */
}

.planes-objetos ul {
  list-style: none;
  text-align: center;
  padding: 10px;
}

.planes-objetos li {
  margin: 5px 0;
  width: 100%;
  font-weight: bold;
  padding: 1rem 1rem;
  border-bottom: 2px solid hsl(240, 8%, 85%, 0.583);
}

@media screen and (max-width: 920px) {
  .planes {
    padding-bottom: 40px;
  }
  .planes-objetos {
    margin-top: 40px;
  }
  .planes-objetos button {
    position: relative;
    bottom: 0px;
  }
  .plan,
  .plan-activo {
    margin: 20px;
  }
}

.imagenes {
  max-width: 100%;
  max-height: 100%;
}

.bloque {
  width: 50px;
  height: 50px;
}

.beneficios {
  width: 100%; /* Ajustamos el ancho al 100% para ocupar todo el espacio disponible */
  background-color: #fef9f2;
}

.beneficios h2 {
  background-color: #ff9505;
}

.conjunto-tarjeta {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}
@media screen and (max-width: 920px) {
  .conjunto-tarjeta {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.beneficios-objetos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 920px) {
  .beneficios-objetos {
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
  }
}

.tarjeta {
  position: relative;
  width: 390px;
  height: 350px;
  margin: 50px;
}

@media screen and (max-width: 920px) {
  .tarjeta {
    width: 350px;
    height: 310px;
    margin: 25px;
  }
}

.tarjeta .cara {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 19px;
  overflow: hidden;
  transition: 0.5s;
}

.tarjeta .frente {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0px 5px 10px #000;
}

.tarjeta .frente img {
  position: absolute;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.tarjeta .frente h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  font-size: 25px;
  color: #fef9f2;
  text-align: center;
}

.tarjeta .frente p {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 0px;
  color: #adadad;
  text-align: center;


}
@media screen and (max-width: 920px) {
  .tarjeta .frente p {
    display: block;
  }
}

.tarjeta .atras {
  transform: perspective(600px) rotateY(180deg);
  background-color: #081849;
  padding: 15px;
  color: #fef9f2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.tarjeta .atras h3 {
  font-size: 30px;
  margin-top: 10px;
  letter-spacing: 2px;
}

.tarjeta .atras p {
  letter-spacing: 1px;
}

.tarjeta:hover .frente {
  transform: perspective(600px) rotateY(180deg);
}

.tarjeta:hover .atras {
  transform: perspective(600px) rotateY(360deg);
}

/*####FORMULARIO##### */
.contacto {
  display: grid;
  place-items: center;
  background-color: #1e4877;
  width: 100%;
}
.contacto p {
  color: #fef9f2;
  margin: 0%;
}

.contacto ::placeholder {
  color: grey;
}

.contacto h2 {
  margin-top: 40px;
}

.contact-form {
  background-color: #1e4877;
  border-radius: 10px;
  padding: 48px 40px;
  margin-bottom: 15px;
  margin-top: 50px;
}
.contact-form h5 {
  position: relative;
  color: #fef9f2;
  padding-bottom: 12px;
}
.contact-form h5::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 2px;
  background-color: #e07c09;
  bottom: 0;
  left: 0;
}
.contact-form h2 {
  font-size: 36px;
  color: #fef9f2;
  padding-top: 10px;
}
.contact-form .single-form {
  margin-top: 10px;
  margin-bottom: 10px;
}
.contact-form .single-form input {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #fef9f2;
  border-bottom: 1px solid #ff9505;
}
.contact-form .single-form textarea {
  width: 100%;
  padding: 0 20px;
  border: 1px solid #a1a1a1;
  border-radius: 5px;
  color: black;
  font-size: 15px;
  padding-top: 10px;
  height: 150px;
  resize: none;
}

.main-btn {
  text-align: center;
  border: 1px solid #e07c09;
  padding: 10px 40px;
  width: 100%;
  font-weight: 700;
  line-height: 30px;
  color: #fef9f2;
  position: relative;
  transition: 0.4s ease-in-out;
  background-color: #e07c09;
  border-radius: 5px;
}
.main-btn:hover {
  color: #e07c09;
  border-color: #3a8481;
  background-color: #081849;
}

.btn-wsp {
  position: fixed;
  width: 60px;
  height: 60px;
  line-height: 59px;
  bottom: 25px;
  right: 25px;
  background: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 35px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: all 300ms ease;
}

.btn-wsp:hover {
  background-color: #fff;
  color: #25d366;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  background-color: #081849;
  color: #fff;
  font-size: 20px;
  padding: 40px 10px;
  position: relative; /* Asegúrate de que el footer tenga position: relative */
}

.img-footer {
  max-width: 23%;
  height: 100%;
}

footer a {
  margin: 0 20px;
  text-decoration: none;
  color: #ff9505;
}

.icono {
  font-size: 30px;
}
.f-respon {
  display: none;
}

footer div:nth-child(3) {
  position: relative; /* Asegúrate de que el div contenedor mantenga position: relative */
  font-size: 17px;
}

footer div:nth-child(3)::before {
  content: ""; /* Crea un pseudo-elemento para mantener el espacio */
  display: block;
}

.info-footer {
  justify-content: center;
}

@media screen and (max-width: 920px) {
  footer {
    flex-direction: column;
  }
  footer div {
    margin: 4% 0% 4% 0%;
  }

  .f-normal {
    display: none;
  }
  .f-respon {
    display: block;
    width: auto;
  }
  .i-footer {
    padding: 0% 0% 0% 0%;
  }

  .info-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .img-footer {
    max-height: 100px;
    max-width: 60px;
  }
}

/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 920px) {
  .introduccion {
    margin-top: 150px;
    margin-left: 20px;
  }

  .venta-simple {
    flex-direction: column;
  }

  .venta-simple-centro {
    transform: translateX(11%);
    width: 82%;
  }

  .contacto {
    margin-top: 5%;
  }
}

/* Estilos para pantallas muy pequeñas */
@media screen and (max-width: 480px) {
  .introduccion {
    margin-top: 0px;
    margin-left: 10px;
  }

  .textos-venta {
    width: 100%;
  }

  @media screen and (max-width: 920px) {
    nav.active {
      background: #081849;
      opacity: 100%;
      padding: 31px 25px;
      z-index: 100;
    }
    nav.active i {
      color: #ff9505;
    }
    nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding: 30px 30px;
      display: flex;
      flex-wrap: wrap;
      z-index: 100;
      transition: all 0.5s ease;
      padding-left: none;
    }
    nav i {
      color: #ff9505;
    }
    .navegacion a {
      display: none;
    }
    .toggle {
      display: block;
    }
    .dropdown {
      display: block;
    }
    .logo {
      width: auto;
      height: 20px;
    }
    .beneficios {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .btn-wsp {
    width: 60px;
    height: 60px;
    line-height: 59px;
  }
}

@media screen and (max-width: 820px) {
  .plan {
    width: 100%;
    height: auto;
  }
  .plan-activo {
    width: 100%;
    height: auto;
    transform: none;
  }
}
