@import "";

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  background-color: #293450;
  line-height: unset;
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow-x: hidden;
}

.main-section {
  position: relative;
  z-index: 1;
}

.image-container {
  position: relative;
}

.background-image {
  background-image: url(../media/fondo.jpeg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

h1 {
  color: rgb(74, 99, 245);
  font-weight: bold;
  font-size: 40px;
}

h2 {
  font-weight: bold;
  margin: 0;
  font-size: 1.5em;
  font-size: 60px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 63px;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  transition: all 0.5s ease;
}

nav.active {
  background: #c0cef7;
  opacity: 90%;
  padding: 30px 50px;
}

.logo {
  width: auto;
  height: 45px;
}

.logo:hover {
  transform: scale(1.1);
}

.navegacion a {
  text-decoration: none;
  color: #1038ac;
  padding: 2px 0px;
  border-radius: 20px;
  font-size: 20px;
  margin: 0 25px;
  font-weight: 600;
  position: relative;
}

.navegacion a:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: dodgerblue;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

.navegacion a:hover:after {
  transform: scaleX(1);
}

ul {
  margin-bottom: 0px;
  margin-top: 15px;
}

.toggle {
  color: #1038ac;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.dropdown {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown il {
  padding: 0.7rem;
  display: grid;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.dropdown il a {
  text-decoration: none;
  color: #1038ac;
  padding: 6px 15px;
  border-radius: 20px;
  margin: 0 10px;
  font-weight: 600;
}

.dropdown il a:hover {
  background: #1038ac;
  color: #ff9505;
}

.dropdown.open {
  height: 266px;
}

.intro {
  display: flex;
}

.introduccion {
  margin-top: 250px;
  margin-left: 950px;
  display: flex;
  flex-direction: column;
  font-size: 60px;
}

.textos {
  display: flex;
  color: rgb(255, 255, 255);
  max-width: 500px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.textos::first-letter {
  font-size: 30px;
  font-style: italic;
}

.contenedor {
  background-color: #293450;
  margin-top: 750px;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.venta-simple {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}
.contenedor h3 {
  text-align: center;
  color: orange;
  margin-bottom: 25px;
  width: 100%;
  font-size: 45px;
}

.venta-simple-centro {
  width: 48%;
  height: auto;
}

.venta-simple-contenedor {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.venta-simple-contenedor div {
  height: 40%;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  background-color: #4d648d;
  margin: 20px;
}

.animacion {
  position: relative;
  width: 40%;
}

.animacion img {
  height: auto;
  width: 40%;
  opacity: 1;
  transition: opacity 0s, transform 0.5s ease;
}

.imagen-alternativa {
  position: absolute;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease, transform 1.5s ease;
}

.animacion:hover img {
  opacity: 0;
}

.animacion:hover .imagen-alternativa {
  display: inline;
  transform: scale(1.2);
  bottom: 15px;
  opacity: 1;
}
.textos-venta {
  text-align: center;
  color: white;
  width: 80%;
}

.planes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: auto;
  width: 100%;
}

.planes h3 {
  text-align: center;
  color: orange;

  width: 100%;
  font-size: 45px;
  height: auto;
}

.plan {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 25%;
  height: 50vh;
  box-shadow: 5px 5px 10px #000;
  align-items: center;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  background-color: #4d648d;
  position: relative; /* Asegura que el botón esté posicionado dentro del contenedor */
}

.plan p {
  color: white;
  margin: 10px;
  font-size: 30px;
  margin-left: 25px; /* Espacio entre el ícono y el texto */
}

.precio {
  color: #128c7e !important;
  font-size: 40px !important;
}

.plan i {
  display: inline-block; /* Muestra el ícono en la misma línea que el texto */
  margin-right: 5px; /* Espacio entre el ícono y el texto */
}

.plan:hover {
  transform: scale(1.1);
  background-color: rgb(127, 193, 202); /* Fondo semi-transparente */
}

.plan button {
  border-radius: 10px;
  color: orange;
  background-color: #1038ac;
  padding: 5px;
  position: absolute;
  bottom: 15px;
  left: 50%; /* Centrar horizontalmente */
  transform: translateX(-50%); /* Ajustar al centro horizontal */
}

.plan h4 {
  color: #128c7e;
}

.imagenes {
  max-width: 100%;
  max-height: 100%;
}

.bloque {
  width: 50px;
  height: 50px;
}

.beneficios {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
  background-color: #1e4877;
  border-radius: 10px;
  padding: 10px;
}

.tarjeta {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 10px;
}

.tarjeta .cara {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}

.tarjeta .frente {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0px 5px 10px #000;
}

.tarjeta .frente img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tarjeta .frente h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: white;
  background-color: #1038ac;
  text-align: center;
}

.tarjeta .atras {
  transform: perspective(600px) rotateY(180deg);
  background-color: #1038ac;
  padding: 15px;
  color: #25d366;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.tarjeta .atras h3 {
  font-size: 30px;
  margin-top: 10px;
  letter-spacing: 2px;
}

.tarjeta .atras p {
  letter-spacing: 1px;
}

.tarjeta:hover .frente {
  transform: perspective(600px) rotateY(180deg);
}

.tarjeta:hover .atras {
  transform: perspective(600px) rotateY(360deg);
}

/*####FORMULARIO##### */
.contacto {
  display: grid;
  place-items: center;
  margin-top: 3%;
}
.contacto p {
  color: #00393b;
  margin: 0%;
}

.contact-from {
  background-color: #ffae00;
  border-radius: 10px;
  padding: 48px 40px;
  box-shadow: 2px 0px 3px 0px rgba(158, 157, 157, 0.75);
  margin-bottom: 15px;
}
.contact-from h5 {
  color: #00393b;
  position: relative;
  padding-bottom: 12px;
}
.contact-from h5::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 2px;
  background-color: #e07c09;
  bottom: 0;
  left: 0;
}
.contact-from h2 {
  font-size: 36px;
  color: #00393b;
  padding-top: 10px;
}
.contact-from .singel-form {
  margin-top: 10px;
  margin-bottom: 10px;
}
.contact-from .singel-form input {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #8a8a8a;
  border-bottom: 1px solid #ff9505;
}
.contact-from .singel-form textarea {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  border: 1px solid #a1a1a1;
  border-radius: 5px;
  color: #8a8a8a;
  font-size: 15px;
  padding-top: 10px;
  height: 100px;
  resize: none;
}

.main-btn {
  text-align: center;
  border: 1px solid #e07c09;
  padding: 10px 40px;
  font-weight: 700;
  line-height: 30px;
  color: #00393b;
  position: relative;
  transition: 0.4s ease-in-out;
  background-color: #e07c09;
  border-radius: 5px;
}
.main-btn:hover {
  color: #e07c09;
  border-color: #3a8481;
  background-color: #3a8481;
}

.contact-address {
  background-color: #3a8481;
  padding: 23px 0;
  margin-bottom: 3%;
}
.contact-address ul li {
  padding-top: 30px;
  list-style: none;
}
.contact-address ul li .singel-address {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.contact-address ul li .singel-address .icon {
  border-radius: 50%;
  border: 1px solid #d83030;
  color: #fff;
  font-size: 18px;
  text-align: center;
  background: #d83030;
}
.contact-address ul li .singel-address .icon i {
  width: 50px;
  height: 50px;
  line-height: 50px;
}
.contact-address ul li .singel-address .cont {
  padding-left: 20px;
}
.contact-address ul li .singel-address .cont p {
  color: #00393b;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin: 0px;
  margin-right: 15px;
}

.btn-wsp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  box-shadow: 0px 5px 10px #000;
}

.btn-wsp:hover {
  background-color: #128c7e;
  color: #ffffff;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  height: 100px;
  color: #fff;
  font-size: 20px;
}

@media screen and (max-width: 920px) {
  nav.active {
    background: #c0cef7;
    opacity: 100%;
    padding: 30px 50px;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 50px;
    display: flex;
    flex-wrap: wrap;
    z-index: 100;
    transition: all 0.5s ease;
    padding-left: none;
  }
  .navegacion a {
    display: none;
  }
  .toggle {
    display: block;
  }
  .dropdown {
    display: block;
  }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .btn-wsp {
    width: 63px;
    height: 63px;
    line-height: 66px;
  }
}
