@import "";

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #293450;
  background-image: url(../media/fondo.jpeg);
  background-size: cover; /* La imagen de fondo cubrirá todo el espacio disponible */
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* La imagen de fondo no se desplazará con el contenido */
  overflow-x: hidden;
  line-height: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #000;
  font-weight: bold;
}

h2 {
  font-weight: bold;
  margin: 0;
  font-size: 1.5em;
  font-size: 60px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 63px;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  transition: all 0.5s ease;
}

nav.active {
  background: #c0cef7;
  opacity: 90%;
  padding: 30px 50px;
}

.logo {
  width: auto;
  height: 45px;
}
.logo:hover {
  transform: scale(1.1);
}

.navegasion a {
  text-decoration: none;
  color: #1038ac;
  padding: 2px 0px;
  border-radius: 20px;
  font-size: 20px;
  margin: 0 25px;
  font-weight: 600;
  position: relative;
}

.navegasion a:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: dodgerblue;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

.navegasion a:hover:after {
  transform: scaleX(1);
}

ul {
  margin-bottom: 0px;
  margin-top: 15px;
}

.toggle {
  color: #1038ac;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.dropdown {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown il {
  padding: 0.7rem;
  display: grid;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.dropdown il a {
  text-decoration: none;
  color: #1038ac;
  padding: 6px 15px;
  border-radius: 20px;
  margin: 0 10px;
  font-weight: 600;
}

.dropdown il a:hover {
  background: #1038ac;
  color: #ff9505;
}

.dropdown.open {
  height: 266px;
}

.intro {
  display: flex;
}

.introduccion {
  margin-top: 180px;
  margin-left: 700px;
  display: flex;
  flex-direction: column;
  font-size: 60px;
}

.textos {
  display: flex;
  color: rgb(0, 0, 0);
  max-width: 500px;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
}

.textos::first-letter {
  font-size: 50px;
  font-style: italic;
}

.funcionalidades {
  margin-top: 500px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.funciones {
  background-color: #1e4877;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 140px;
  height: 300px;
  box-shadow: 5px 5px 10px #000;
}

.funciones:hover {
  transform: scale(1.01);
}

.imagenes {
  max-width: 100%;
  max-height: 100%;
}

.div-form {
  background-color: #c0cef7;
  border-radius: 10px;
  display: flex;
  margin: 40px;
  width: 640px;
  box-shadow: 0 0 20px #fff;
}

.form-selectores * {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #d63031;
/*   display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  border-width: 3px;
  border-style: hidden;
  background-color: inherit;
  padding: 5px;
  margin: 10px;
  width: 300px; */
}

.form-selectores *:focus {
  border-style: hidden;
  opacity: 0.5;
}

.bloque {
  width: 50px;
  height: 50px;
}

.beneficios {
  margin-top: 30px;
  display: flex;
  width: 1000px;
  flex-wrap: wrap;
  background-color: #1e4877;
  border-radius: 10px;
  padding: 10px;
}

.tarjeta {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 10px;
}

.tarjeta .cara {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}

.tarjeta .frente {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0px 5px 10px #000;
}

.tarjeta .frente img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tarjeta .frente h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: white;
  background-color: #1038ac;
  text-align: center;
}

.tarjeta .atras {
  transform: perspective(600px) rotateY(180deg);
  background-color: #1038ac;
  padding: 15px;
  color: #25d366;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.tarjeta .atras h3 {
  font-size: 30px;
  margin-top: 10px;
  letter-spacing: 2px;
}

.tarjeta .atras p {
  letter-spacing: 1px;
}

.tarjeta:hover .frente {
  transform: perspective(600px) rotateY(180deg);
}

.tarjeta:hover .atras {
  transform: perspective(600px) rotateY(360deg);
}

footer {
  background-color: black;
  color: white;
  padding: 5px;
  margin-top: auto;
  width: 100%;
}

@media screen and (max-width: 920px) {
  nav.active {
    background: #c0cef7;
    opacity: 100%;
    padding: 30px 50px;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 50px;
    display: flex;
    flex-wrap: wrap;
    z-index: 100;
    transition: all 0.5s ease;
    padding-left: none;
  }
  .navegasion a {
    display: none;
  }
  .toggle {
    display: block;
  }
  .dropdown {
    display: block;
  }
}

.btn-wsp {
  position: fixed;
  width: 60px;
  height: 60px;
  line-height: 57px;
  bottom: 25px;
  right: 25px;
  background: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 35px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: all 300ms ease;
}
.btn-wsp:hover {
  background: #fff;
  color: #25d366;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .btn-wsp {
    width: 63px;
    height: 63px;
    line-height: 66px;
  }
}
